.header-component{ 
    height:fit-content;
    padding-bottom: 5%;
    background-color: #05133a;
    background-image: url("../assets/bg3.jpg");
    background-size: cover;
    background-position: center;

    & h1{
        color: white !important;
        width: 90% !important;
    }
}