.header-component{ 
    height:fit-content;
    padding-bottom: 5%;
    background-color: #000;
    background-image: url("../assets/bg3dark.png");
    background-size: cover;
    background-position: center;
    
    & h1{
        color: white !important;
        width: 90% !important;
    }
}
