.header {
  color: white;
  height: fit-content;
//   display: flex;
  padding: 0px !important;
  border-bottom: 1px solid #242759;

  // background-color: #05133a;
}
.header__logo {
  // display: flex;
  // align-items: center;
  padding-left: 15%;
}
.header__containt {
  display: flex;
  align-items: center;
  padding: 0px !important;
  justify-content: center;
  // max-width: 55% !important;

  & p {
    margin: 0px;
  }
}

.header__containt-report {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px !important;
}
.header__containt-dailyreport {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  border-radius: 20px;
  font-size: small;
  height: fit-content;
  // overflow: hidden;
  padding-top: 7px;
  padding-bottom: 5px;
  justify-content: center;
  margin-right: 10px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  // margin-top: 4%;
  // margin-bottom: 4%;
}

.header__containt-languages {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  border-radius: 20px;
  font-size: small;
  height: fit-content;
  // overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: center;
  margin-right: 10px;
  padding-right: 10px !important;
  padding-left: 10px !important;
  // margin-top: 4%;
  // margin-bottom: 4%;
}


.header__containt-weeklyreport {
  display: flex;
  // align-items: center;
  border: 1px solid #eb475b;
  border-radius: 20px;
  font-size: small;
  margin-right: 10px;

  height: fit-content;
  padding-top: 7px;
  padding-bottom: 5px;

  padding-right: 0px !important;
  padding-left: 0px !important;
  justify-content: center;
}
.header-row {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 1%;
  // margin-bottom: 3%;
}


.navbar-collapse{
    padding-right: 15%;
}
.mr-auto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:700px){
    .logo{
        width: 200px;
    }
    .navbar-collapse{
        padding-right: 0px !important;
    }
    .header__containt-report{
        width: 70% !important;
    }
}

.header__containt-dailyreport:hover{
  cursor: pointer;
  background-image: linear-gradient(to right, #eb4657, #ec6a66);
  border:none;
  transition: 0.3s;
}
.header__containt-weeklyreport:hover{
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background-image: linear-gradient(to right, #eb4657, #ec6a66);
}
.tron-logo{
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.form-control{
  background: transparent !important;
  // color: white !important;
}

@media(min-width:600px){
  .form-group{
    margin-right: -200px;
  }
}



@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  font-family: Arial;
  font-family: 'Muli', sans-serif;
}
.nav-wrapper {
  // width: 300px;
  // margin: 100px auto;
  text-align: center;
}
  .sl-nav {
    
  display: inline;
}
.sl-nav ul {
  
  margin:0;
  padding:0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
 
  cursor: pointer;
  // padding-bottom:10px;
}
.sl-nav li ul {
 
  display: none;
}
.sl-nav li:hover ul {
  
  position: absolute;
  top:29px;
  right:-15px;
  display: block;
  background: #fff;
  width: 200px;
  padding-top: 0px;
  z-index: 1;
  border-radius:5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.header__containt-languages:hover{
  background-image: linear-gradient(to right, #eb4657, #ec6a66);
}
.sl-nav li:hover .triangle {
  // transition-delay:20s !important;
  position: absolute;
  top: 15px;
  right: -10px;
  z-index:10;
  height: 14px;
  overflow:hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  // background-color: red !important;
  // transition-delay:20s !important;
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius:2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.sl-nav li ul li {
  // transition-duration: 5s;
  // transition-delay: 2s;
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom:0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
  // transition-duration: 50s;
  // transition-delay: 20s;
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  // transition-duration: 50s;
  // transition-delay: 20s;

  padding-left: 5px;
}
.sl-nav  ul li span:hover, .sl-nav li ul li span.active {
  // transition-duration: 50s;
  // transition-delay: 20s;
  color: #146c78;
}
.sl-flag {
  // transition-duration: 50s;
  // transition-delay: 20s;
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-en {
  background-size: cover;
  background-position: center center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
}

.flag-hi {
  background-size: contain;
  background-position: center center;
  background: url('https://www.countryflags.io/in/flat/15.png');
}