.footer{
    
    background-color: #0a1b4c;
    background-image: url("../../assets/Clip.png");
    
    height: fit-content;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: #010c2a;
    color: white;
    & .footer-row{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 15px;
        
    }

    & .footer-copyright{
        background-color: #05133a;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 5px;
    }
}